.card5 {
  max-width: 930px;
  max-height: 270px;
  margin-bottom: 3px; 
}

.img-thumbnail5{
    width: 15rem; 
    height: 15rem;
    border: 1px solid #e2dcdc;
}

.card5{
    border: 1px solid #cfc8c8;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9fcfc;
  }
  
  
  .card5 .card-body {
    padding: 10px;
  }
  
  .card5 .card-title {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .card5 .card-text {
    font-size: 1rem;
    color: #555;
  }
  
  .card5 .btn {
    margin-top: 10px;
  }


  
  
  
  
  
  
  